exclude: "^docs/|/migrations/|devcontainer.json"
default_stages: [pre-commit]

default_language_version:
    python: python3.13

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-json
          - id: check-toml
          - id: check-xml
          - id: check-yaml
          - id: debug-statements
          - id: check-builtin-literals
          - id: check-case-conflict
          - id: check-docstring-first
          - id: detect-private-key

    # uncomment for debugging: it lists all files that would be checked
    # - repo: meta
    #   hooks:
    #       - id: identity

    # Biome is a (much) faster alternative to prettier. The following hook ids are available:
    #   biome-ci        Check formatting, check if imports are organized, and lints
    #   biome-check     Format, organize imports, lint, and apply safe fixes to the committed files
    #   biome-format    Format the committed files
    #   biome-lint      Lint and apply safe fixes to the committed files
    - repo: https://github.com/biomejs/pre-commit
      rev: v2.3.4
      hooks:
          - id: biome-check
            additional_dependencies: ["@biomejs/biome@^1.0.0"]

    # automatically upgrades Django code to migrates patterns and avoid deprecation warnings
    - repo: https://github.com/adamchainz/django-upgrade
      rev: "1.29.1"
      hooks:
          - id: django-upgrade
            args: ["--target-version", "4.2"]

    # runs the ruff linter and formatter
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.4
      hooks:
          # linter
          - id: ruff # runs ruff check --force-exclude
            args:
                # we have to pick one ruff config between gateway and sdk...
                #   the SDK has additional constraints for having to support multiple
                #   python versions, so it's a safer choice for a project-wide config;
                #   though be aware that this might omit PyUpgrade improvements that
                #   could be applied to the gateway side.
                [
                    # --verbose, # for debugging
                    # --show-files, # for debugging
                    # --show-fixes, # for debugging
                    --no-cache,
                    --fix,
                    --exit-non-zero-on-fix,
                    --config,
                    "sdk/pyproject.toml",
                    # --show-settings, # for debugging
                ]
          # formatter
          - id: ruff-format # runs ruff format --force-exclude
            args: [--config, "sdk/pyproject.toml"]

    # linter for django templates
    - repo: https://github.com/Riverside-Healthcare/djLint
      rev: v1.36.4
      hooks:
          - id: djlint-reformat-django
          - id: djlint-django

    # linter for markdown files - see .markdownlint.yaml to configure rules
    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: "v0.45.0"
      hooks:
          - id: markdownlint
            args: ["-f"]
            stages: [pre-commit]

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false
