.venv/
node_modules
opensearch/data

.editorconfig
.envs/
.git
.gitattributes
.github
.gitignore
.gitlab-ci.yaml
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yaml
.readthedocs.yml
.travis.yaml
.travis.yml
venv
