{% extends "base.html" %}

{% load static i18n %}

{% block title %}
    About - SDS Gateway
{% endblock title %}
{% block content %}
{% endblock content %}
{% block body %}
    <section class="hero">
        <div class="container">
            <h1>About</h1>
            <div class="hero-content text-center pb-5">
                <p class="text-white">
                    The <strong>SpectrumX Data System (SDS)</strong> is a data management and retrieval platform for radio-frequency experiments. This is the SDS Gateway, a web interface in the making for user-friendly data retrieval. Here you can also generate API keys to interact with SDS via our <a href="https://pypi.org/project/spectrumx"
    target="_blank"
    class="text-white">Python SDK</a>.
                </p>
                <p class="text-white">
                    The SpectrumX Data System (SDS) is a project under the SpectrumX initiative, which vision is to become a trusted resource within the spectrum ecosystem offering objective, long-term and innovative policy and technical contributions through collaborative, inclusive and integrative education and research activities.
                </p>
                <h2 class="text-white mt-5">Resources</h2>
                <div class="text-center">
                    <p class="mb-2">
                        <a href="https://www.spectrumx.org/" target="_blank" class="text-white">SpectrumX Website</a>
                    </p>
                    <p class="mb-2">
                        <a href="https://pypi.org/project/spectrumx/"
                           target="_blank"
                           class="text-white">SpectrumX SDK in PyPI</a>
                    </p>
                    <p class="mb-2">
                        <a href="{% url 'api-docs' %}" target="_blank" class="text-white">Gateway API Documentation</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
