{% extends "base.html" %}

{% load static i18n %}
{% load socialaccount %}

{% block title %}
    SDS Gateway
{% endblock title %}
{% block content %}
{% endblock content %}
{% block body %}
    <section class="hero pb-5">
        <div class="container">
            <h1>Spectrum Data System</h1>
            <div class="hero-boxes">
                <div class="hero-box">
                    <h2>About the SDS</h2>
                    <p>
                        A <a href="{% url 'about' %}">data management and retrieval platform</a> for radio-frequency experiments
                    </p>
                </div>
                <div class="hero-box">
                    <h2>API Gateway Documentation</h2>
                    <p>
                        <a href="{% url 'api-docs' %}">Documentation of API endpoints</a> of SpectrumX Data System Gateway
                    </p>
                </div>
                <div class="hero-box">
                    <h2>My SDS Files</h2>
                    <p>
                        <a href="{% url 'users:file_list' %}?page=1">View your files</a> in the SDS
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
