/**
 * Common styles for visualizations
 */

.visualization-error-display {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 5;
	max-width: 100%;
	padding: 20px;
	box-sizing: border-box;
	overflow: auto;
}

.visualization-error-display p {
	margin: 0;
	font-size: 1.1rem;
}

.visualization-error-display > * {
	max-width: 100%;
}

.error-message-text {
	color: #dc3545;
	font-weight: 500;
	white-space: pre-wrap;
}
