{# Drag-and-drop zone and selected-file list (files page capture modal) #}
<div class="upload-zone mt-2"
     id="uploadZone"
     aria-label="Drag and drop folder here">
    <i class="material-icons upload-zone-icon">cloud_upload</i>
    <div class="upload-zone-text">Drag and drop your folder here</div>
    <div class="upload-zone-subtext">Or use the file picker above</div>
</div>
<div class="selected-files" id="selectedFiles">
    <div class="selected-files-header">Selected Files:</div>
    <ul class="selected-files-list" id="selectedFilesList">
    </ul>
</div>
