{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>
            {% block title %}
                SpectrumX Data System Gateway
                <pre><small>alpha</small></pre>
            {% endblock title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Control plane, metadata management, and web interface for SDS" />
        <meta name="author"
              content="Center for Research Computing | University of Notre Dame" />
        <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
        {% block css %}
            <!-- Your stuff: Third-party CSS libraries go here -->
            <!-- This file stores project-specific CSS -->
            {% render_bundle 'project' 'css' %}
        {% endblock css %}
        <!-- Le javascript
    ================================================== -->
        {# Placed at the top of the document so pages load faster with defer #}
        {% block javascript %}
            <!-- Vendor dependencies bundled as one file -->
            {% render_bundle 'vendors' 'js' attrs='defer' %}
            <!-- place project specific Javascript in this file -->
            {% render_bundle 'project' 'js' attrs='defer' %}
        {% endblock javascript %}
    </head>
    {# djlint:off H021 #}
    <body class="{% block bodyclass %}{% endblock bodyclass %}"
          id="body"
          style="display: none">
        {# djlint:on #}
        {% block body %}
            <div class="mb-1">
                <nav class="navbar navbar-expand-md">
                    <div class="container-fluid">
                        <button class="navbar-toggler navbar-toggler-right"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}">SpectrumX Data System Gateway</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            {% comment %} left navbar {% endcomment %}
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'users:file_list' %}?page=1">{% translate "My Files" %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% comment %} right navbar {% endcomment %}
                            <ul class="navbar-nav ms-auto">
                                {% if request.user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'users:detail' request.user.pk %}">
                                            {% if request.user.name %}
                                                {{ request.user.name }}
                                            {% else %}
                                                {{ request.user.email }}
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li class="nav-item"
                                        {% if not request.user.is_approved %}title="{% translate 'Contact administrator for account approval to generate API keys.' %}"{% endif %}>
                                        <a class="nav-link {% if not request.user.is_approved %}disabled{% endif %}"
                                           href="{% url 'users:generate_api_key' %}">{% translate "API Key" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        {% comment %} URL provided by django-allauth/account/urls.py {% endcomment %}
                                        <form id="signout" method="post" action="{% url 'account_logout' %}">
                                            {% csrf_token %}
                                            <a href="#"
                                               class="nav-link btn btn-link"
                                               onclick="document.getElementById('signout').submit();">{% translate "Sign Out" %}</a>
                                        </form>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        {% comment %} URL provided by django-allauth/account/urls.py {% endcomment %}
                                        <a id="log-in-nav-link"
                                           class="nav-link"
                                           href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="py-4 container">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% block main %}
                    {% block content %}
                        <p>
                            The <b>SpectrumX Data System (SDS)</b> is a data management and retrieval platform for radio-frequency experiments.
                        </p>
                    {% endblock content %}
                {% endblock main %}
            </div>
        {% endblock body %}
        <!-- /container -->
        {% block modal %}
        {% endblock modal %}
        {% block inline_javascript %}
            {% comment %} avoids showing a partially loaded page {% endcomment %}
            <script type="text/javascript">
                window.onload = function() {
                    setTimeout(function() {
                        document.getElementById("body").style.display = "";
                        console.log("Page loaded");
                    }, 200);
                }
            </script>
            <script>
                /*!
                 * Color mode toggler for Bootstrap's docs (https://getbootstrap.com/)
                 * Copyright 2011-2024 The Bootstrap Authors
                 * Licensed under the Creative Commons Attribution 3.0 Unported License.
                 */

                (() => {
                    'use strict'

                    const getStoredTheme = () => localStorage.getItem('theme')
                    const setStoredTheme = theme => localStorage.setItem('theme', theme)

                    const getPreferredTheme = () => {
                        const storedTheme = getStoredTheme()
                        if (storedTheme) {
                            return storedTheme
                        }

                        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
                    }

                    const setTheme = theme => {
                        if (theme === 'auto') {
                            document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
                        } else {
                            document.documentElement.setAttribute('data-bs-theme', theme)
                        }
                    }

                    setTheme(getPreferredTheme())

                    const showActiveTheme = (theme, focus = false) => {
                        const themeSwitcher = document.querySelector('#bd-theme')

                        if (!themeSwitcher) {
                            return
                        }

                        const themeSwitcherText = document.querySelector('#bd-theme-text')
                        const activeThemeIcon = document.querySelector('.theme-icon-active use')
                        const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                        const svgOfActiveBtn = btnToActive.querySelector('svg use').getAttribute('href')

                        document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                            element.classList.remove('active')
                            element.setAttribute('aria-pressed', 'false')
                        })

                        btnToActive.classList.add('active')
                        btnToActive.setAttribute('aria-pressed', 'true')
                        activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                        const themeSwitcherLabel = `${themeSwitcherText.textContent} (${btnToActive.dataset.bsThemeValue})`
                        themeSwitcher.setAttribute('aria-label', themeSwitcherLabel)

                        if (focus) {
                            themeSwitcher.focus()
                        }
                    }

                    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                        const storedTheme = getStoredTheme()
                        if (storedTheme !== 'light' && storedTheme !== 'dark') {
                            setTheme(getPreferredTheme())
                        }
                    })

                    window.addEventListener('DOMContentLoaded', () => {
                        showActiveTheme(getPreferredTheme())

                        document.querySelectorAll('[data-bs-theme-value]')
                            .forEach(toggle => {
                                toggle.addEventListener('click', () => {
                                    const theme = toggle.getAttribute('data-bs-theme-value')
                                    setStoredTheme(theme)
                                    setTheme(theme)
                                    showActiveTheme(theme, true)
                                })
                            })
                    })
                })()
            </script>
        {% endblock inline_javascript %}
    </body>
</html>
