# Credentials and other settings for integration tests
#   Token needs to be manually set to a valid one by generating it in:
#   http://localhost:8000/users/generate-api-key/   # dev
#   http://localhost:18000/users/generate-api-key/  # prod
#
# ==== NOTE ====
# Testing against sds.crc.nd.edu is not recommended and may use up your quota.
# ==============

HTTP_TIMEOUT = 5
SDS_HOST = "sds-staging.example.com"
SDS_SECRET_TOKEN = "secret-token-here"
