{% extends "base.html" %}

{% load i18n %}

{% block css %}
    {{ block.super }}
{% endblock css %}
{% block title %}
    {% block head_title %}
        {% trans "Sign In" %}
    {% endblock head_title %}
{% endblock title %}
{% block body %}
    <div class="d-flex justify-content-center h-100 py-4">
        <div class="col-md-4 py-4 my-4 px-4">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        {% include "users/components/toast.html" with message=message type="error" %}
                    {% elif message.tags == "success" %}
                        {% include "users/components/toast.html" with message=message type="success" %}
                    {% elif message.tags == "warning" %}
                        {% include "users/components/toast.html" with message=message type="warning" %}
                    {% else %}
                        {% include "users/components/toast.html" with message=message type="info" %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock body %}
