{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}
    {{ file.name }}
{% endblock title %}
{% block content %}
    <div>
        <a href="{% url 'users:file_list' %}?page={{ returning_page|default:1 }}"
           class="btn btn-primary mt-3">Back to File List</a>
        <h2>
            File <code>{{ file.name }}</code>
        </h2>
    </div>
    <ul class="list-group list-group-flush">
        {% for key, value in file.items %}
            {% if key not in skip_fields %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <strong>
                                {% if key == "permissions" %}
                                    Local Permissions
                                {% elif key == "sum_blake3" %}
                                    Checksum
                                {% elif key == "uuid" %}
                                    UUID
                                {% elif key == "media_type" %}
                                    Media Type
                                {% else %}
                                    {{ key|title }}
                                {% endif %}
                            </strong>
                        </div>
                        <div class="col-9">
                            {% if key == "directory" or key == "sum_blake3" or key == "uuid" %}
                                <code>{{ value }}</code>
                            {% elif key == "owner" %}
                                {% if value %}
                                    {% if value.name %}
                                        {{ value.name }} ({{ value.email }})
                                    {% else %}
                                        {{ value.email }}
                                    {% endif %}
                                {% else %}
                                    <em class="text-secondary-emphasis text-muted">No owner information available.</em>
                                {% endif %}
                            {% elif key == "size" %}
                                {{ value|filesizeformat }}
                            {% elif key == "permissions" %}
                                {{ value|human_readable_permissions }}
                            {% elif key == "created_at" or key == "updated_at" or key == "expiration_date" %}
                                {% if value %}
                                    {{ value }}
                                {% else %}
                                    <em class="text-secondary-emphasis text-muted">N/A</em>
                                {% endif %}
                            {% elif key == "capture" or key == "dataset" %}
                                {% if value %}
                                    {{ value.uuid }}
                                {% else %}
                                    <em class="text-secondary-emphasis text-muted">No {{ key }} associated with this file.</em>
                                {% endif %}
                            {% else %}
                                {{ value|default:"N/A" }}
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}
