{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
    {% translate "Manage Share Groups" %}
{% endblock title %}
{% block content %}
    {% csrf_token %}
    <div class="container-fluid px-5 pt-4">
        <div class="row">
            <div class="col-12">
                {% include "users/partials/share_group_header.html" %}
                <!-- Share Groups List -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">{% translate "Your Share Groups" %}</h5>
                    </div>
                    <div class="card-body">
                        {% if share_groups %}
                            {% include "users/partials/share_group_table.html" %}
                        {% else %}
                            {% include "users/partials/share_group_empty_state.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals -->
    {% include "users/partials/share_group_create_modal.html" %}
    {% include "users/partials/share_group_manage_modal.html" %}
    {% include "users/partials/share_group_delete_modal.html" %}
{% endblock content %}
{% block javascript %}
    {{ block.super }}
    <!-- Share components -->
    <script src="{% static 'js/share/ShareGroupManager.js' %}"></script>
    <script src="{% static 'js/actions/ShareActionManager.js' %}"></script>
    <script>
        // Initialize share group manager when DOM is loaded
        document.addEventListener('DOMContentLoaded', function() {
            // Initialize the share group manager
            window.shareGroupManager = new ShareGroupManager({
                apiEndpoint: "/users/share-groups/",
            });
        });
    </script>
{% endblock javascript %}
