[site]
name = "${SDS_SITE_NAME}"
fqdn = "${SDS_SITE_FQDN}"
display_name = "${SDS_SITE_DISPLAY_NAME}"
sync_service_url = "${FEDERATION_SYNC_SERVICE_URL}"

[[peers]]
name = "${FEDERATION_PEER_NAME}"
fqdn = "${FEDERATION_PEER_FQDN}"
display_name = "${FEDERATION_PEER_DISPLAY_NAME}"
gateway_api_base = "${FEDERATION_PEER_GATEWAY_API_BASE}"
sync_service_url = "${FEDERATION_PEER_SYNC_SERVICE_URL}"
