FEDERATION_ENABLED=true
FEDERATION_SITE_NAME=${SDS_SITE_NAME}
SDS_SITE_FQDN=${SDS_SITE_FQDN}
FEDERATION_SYNC_HEALTH_URL=${FEDERATION_SYNC_HEALTH_URL}
FEDERATION_SYNC_USER_EMAIL=${FEDERATION_SYNC_USER_EMAIL}
